.body {
    height: 100vh;
}

.emotions {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 800px;
  height: 100%;
  font-size: 100px;
}

.emotions__emotion {
  text-align: center;
  width: 16.6%;
  height: 100px;
  margin: 16px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.dot {
  background-color: black;
  position: absolute;
  top: -10px;
  left: calc(50% + 20px);
  width: 8px;
  height: 8px;
  border-radius: 50%;

  @for $i from 2 through 15 {
    &:nth-of-type(#{$i}) {
      top: (-20px * $i) - (-10px);
    }
  }
}

.tick {
  font-size: 24px;
  position: absolute;
  top: -20px;
  left: calc(50% - 10px);

  @for $i from 2 through 15 {
    &:nth-of-type(#{$i}) {
      top: -20px * $i;
    }
  }
}

// .tick:nth-of-type(2) {
//   top: -40px;
// }

// .tick:nth-of-type(3) {
//     top: -60px;
// }

// .tick:nth-of-type(4) {
//     top: -80px;
// }

// .tick:nth-of-type(5){
//     top: -100px;
// }

// .tick:nth-of-type(6) {
//     top: -120px;
// }

// .tick:nth-of-type(7) {
//     top: -140px;
// }

// .tick:nth-of-type(8) {
//     top: -160px;
// }

// .tick:nth-of-type(9) {
//     top: -180px;
// }

// .dot:nth-of-type(2) {
//     top: -30px;
// }

// .dot:nth-of-type(3) {
//     top: -50px;
// }

// .dot:nth-of-type(4) {
//     top: -70px;
// }

// .dot:nth-of-type(5) {
//     top: -90px;
// }

// .dot:nth-of-type(6) {
//     top: -110px;
// }

// .dot:nth-of-type(7) {
//     top: -130px;
// }

// .dot:nth-of-type(8) {
//     top: -150px;
// }